.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.Toastify__toast--error {
  border: 1px solid #eb0e0e;
  font-weight: bold;
  border-radius: 10px !important;
  background: rgb(228, 157, 160) !important;
}
